
body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    position: relative;
    color: rgb(109, 108, 108);

}


/* TOP ========================================================================= */
.top{
    border-radius: 0px 0px 150% 150%;
    background-color:rgb(2, 231, 193);
    padding: 20px;
    margin-bottom: 30px;
    
}
.top h1{
    color:white;
    font-size: 50px;
    
}
.top h2{
    color:white;
    font-size: 33px;
}
.top p{
    color:white;
    font-size: 20px;
   
}
.top i{
    color:white;
    font-size: 20px;
   
}
.container0{
    text-align: center;
    margin-bottom: 50px;
   
}


/* BOX 1 ========================================================================= */
.box1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:10px;
    margin:20px;
    box-shadow: 3px 3px 20px #0e0e0e2f;
    background-color: white;

}
.container1{
    display: flex;
    flex-flow: column wrap;
    align-items:  center;
    justify-content: center;
    max-width: 700px;
    padding:50px;
    text-align: justify;
    text-justify: inter-word;
    
}
.button{
    background-color:rgb(2, 231, 193);
    border-radius: 10px;
    color: white;
    font-size: 23px;
    width: auto;
    text-align: center;
    padding:20px;
    text-decoration: none;
    font-weight: bold;

}
.box1 h2{
    color:black;
    font-size: 30px;
    color: rgb(109, 108, 108);
    margin:10px;
    text-align: center;
}
.box1 p{
    color: black;
    font-size: 23px;
    color: rgb(109, 108, 108);
}
.title{
    display: flex;
    flex-direction: row;
}
/* DOUBLE CONTAINER CONTAINER ========================================================================= */
.double_container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    margin-top:20px;
    margin-bottom:20px;

}

/* BOX 2 ========================================================================= */
.box2{
    display: flex;
    flex-flow: column wrap;
    align-items:  center;
    justify-content: center;
    max-width: 700px;
    padding:50px;
    box-shadow: 3px 3px 20px #0e0e0e2f;
    margin-right: 5px;
    text-align: justify;
    text-justify: inter-word;
   
}
.box2 h2{
    color:black;
    font-size: 30px;
    color: rgb(109, 108, 108);
    margin:10px;
    text-align: center;
    
}
.box2 p{
    color: black;
    font-size: 23px;
    color: rgb(109, 108, 108);
}
/* BOX 3 ========================================================================= */
.box3{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    padding:50px;
    box-shadow: 3px 3px 20px #0e0e0e2f;
    margin-left: 5px;
    text-align: justify;
    text-justify: inter-word;
}
.box3 h2{
    color:black;
    font-size: 30px;
    color: rgb(109, 108, 108);
    margin:10px;
    text-align: center;
}
.box3 p{
    color: black;
    font-size: 23px;
    color: rgb(109, 108, 108);
}
/* BOX 4 ========================================================================= */

.box4{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    padding:50px;
    box-shadow: 3px 3px 20px #0e0e0e2f;

}
.box4 h2{
    color:black;
    font-size: 30px;
    color: rgb(109, 108, 108);
    margin:10px;
    text-align: center;

}
.box4 p{
    color: black;
    font-size: 23px;
    color: rgb(109, 108, 108);
  
}
.box4 img{
    width: 600px;;
}
.link{
    text-decoration: none;
    font-size: 23px;
    color: rgb(109, 108, 108);
}
.link:hover{
    color:blue;
}


/* footer =================================================================================================== */
footer{
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:rgb(2, 231, 193);
    opacity: 100%;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}
footer div{
    text-align: center;

}





/*MOBILE sizes ===============================================================================================================================================================================================*/
/*MOBILE sizes ===============================================================================================================================================================================================*/
@media (max-width: 900px){
    .box1{
        flex-direction: column;
    }
    .double_container{
        flex-direction: column;
    
    }
    .title{
        display: flex;
        flex-direction: column;
    }
    .box4 img{
        width: 100%;;
    }
}